footer {
  padding:10px;
  background-color: $grey-color;
  font-family: $breadtext;

  ul {
    @extend %display-flex-space-between;

    a {
      color: $black-color;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
